@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respondSive($breakpoint) {
  //1200
  @if $breakpoint == tablet_landscape {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  //900
  @if $breakpoint == tablet {
    @media only screen and (max-width: 56.5em) {
      @content;
    }
  }
  //600
  @if $breakpoint == phone {
    @media only screen and (max-width: 38em) {
      @content;
    }
  }

  @if $breakpoint == phone_small {
    @media only screen and (max-width: 31em) {
      @content;
    }
  }
}
