.about_box {
  flex-basis: 55%;
  display: flex;
  flex-direction: column;

  text-align: center;
  gap: 1rem;
  padding: $padding-size-small;

  &_history {
    gap: 2rem;
    @include flex;

    &::after,
    &::before {
      content: "";
      flex-basis: 15%;
      display: block;
      height: 1.5px;
      background-color: $color_grey_dark;
    }
  }
}

//Todo
.about_img {
  flex-basis: 45%;
  row-gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // justify-content: center;

  &-gallery {
    // align-items: center;
    flex-basis: 50%;
    padding: 7px;
    transition: transform 1s;
    overflow: hidden;
    // flex-shrink: 2;
    // margin-top: auto;
    @include respondSive(tablet) {
      flex-basis: 33.333%;
    }
    // @include respondSive(phone) {
    //   flex-basis: 50%;
    // }
  }
  &-img {
    width: 95%;
    border-radius: 3px;
    transition: all 1s;
    // overflow: hidden;

    &:hover {
      transform: scale(1.1);
      border-radius: 3px;
    }
  }
}
