.feature {
  display: flex;
  column-gap: 3.6rem;

  &_box {
    flex-basis: 33.3333%;
    padding: 3rem;
    box-shadow: 0 0 0.5rem 0 rgba($color_grey_dark, 0.3);
    border-radius: 3px;
    &_in {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: $vertical-gutter-small;
    }
  }

  &_icon {
    fill: $color-primary;
    height: 5.2rem;
    width: 5.2rem;
  }

  &_header {
    color: $color-primary;
    margin-bottom: $vertical-gutter-small;
  }
}
