.menu {
  display: flex;
  column-gap: 16px;
  // flex-wrap: wrap;

  @include respondSive(small_tablet) {
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 3rem;
    justify-content: center;
  }
  &_box {
    // display: flex;
    flex-basis: 100%;

    @include respondSive(small_tablet) {
      text-align: center;
      flex-basis: 49%;
    }
  }
  &_img {
    // display: block;
    width: 100%;

    @include respondSive(small_tablet) {
      width: 95%;
    }
  }
}
