.order {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: $vertical-gutter-large;
  @include respondSive(phone) {
    flex-direction: column;
  }
  // gap: 7rem;
  &:not(:last-child) {
    margin-bottom: $vertical-gutter-large;
  }
  &_header {
    padding-left: $padding-size-medium;
    padding-right: $padding-size-medium;
    padding-bottom: $padding-size-big;
    display: flex;
    flex-direction: column;
  }
  &_img {
    flex-basis: 50%;
    display: flex;
    justify-content: center;

    &-image {
      width: 100%;
    }
  }
  &_text {
    padding: $padding-size-medium;
    flex: 50%;
    @include respondSive(tablet) {
      padding: $padding-size-small;
    }
  }

  &_number {
    font-size: $font_size-super-large;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    opacity: 40%;
    // border-bottom: 1px solid $color_grey_dark;
  }
}

@media only screen and (max-width: 38em) {
  .order_text:nth-child(1) {
    order: 0;
  }
  .order_img:nth-child(3) {
    order: 0;
  }
  .order_img:nth-child(3) {
    order: 2;
  }
  .order_text:nth-child(4) {
    order: 1;
  }
  .order_text:nth-child(5) {
    order: 3;
  }
  .order_img:nth-child(6) {
    order: 4;
  }
} ;
