.review {
  background-color: rgba($color_white, 0.8);
  // opacity: 85%;
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7rem;
  width: 70%;
  transform: skewX(-12deg);
  @include respondSive(tablet) {
    transform: skewX(0);
    flex-direction: column;
    row-gap: 3rem;
  }

  &_text {
    flex-basis: 50%;
    transform: skewX(12deg);
    @include respondSive(tablet) {
      transform: skewX(0);
    }
  }
  &_shape {
    width: 17rem;
    height: 17rem;
    transform: skewX(12deg);
    clip-path: circle(50% at 50% 50%);
    @include respondSive(tablet) {
      transform: skewX(0);
      width: 20rem;
      height: 20rem;
    }
  }

  &_box {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;
    z-index: 1;
  }
  &_img {
    height: 100%;
    width: 100%;
  }
  &_header {
    padding: 7rem 0;
  }

  &_Customername {
    margin-bottom: $vertical-gutter-small;
    color: $color-primary;
  }
}
