.section_about {
  padding: 9rem 0;
  display: flex;
  gap: 7rem;

  @include respondSive(small_tablet) {
    gap: 1.6rem;
  }
}

.section_order {
  padding: 9rem 0;
}

.section_menu {
  padding-bottom: 9rem;
}

.section_review {
  padding-bottom: 9rem;
  // overflow-x: hidden;
  position: relative;
}

.section_feature {
  padding: 9rem 0;
}
