.section_about {
  padding: 9rem 0;
  display: flex;
  gap: 4.5rem;
  align-items: center;

  @include respondSive(phone) {
    gap: 4.8rem;
  }
  @include respondSive(tablet) {
    flex-direction: column;
  }
}

.section_order {
  padding: 9rem 0;
}

.section_menu {
  padding-bottom: 9rem;
}

.section_review {
  padding-bottom: 9rem;
  // overflow-x: hidden;
  position: relative;
}

.section_feature {
  padding: 9rem 0;
}
