.header {
  background-color: orangered;
  min-height: 90vh;
}

.head_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 3rem;

  &_img {
    width: 10%;
  }
  &_nav {
    flex-grow: 2;
    &_link:visited,
    &_link:link {
      text-decoration: none;
      color: $color-white;
      font-size: 1.8rem;
    }
    &_list {
      display: flex;
      font-size: $font-size-defult;
      list-style: none;
      gap: 2rem;
    }
  }
}
