.header {
  min-height: 90vh;
  position: relative;
  background-image: url(img/bg_1.jpg);
  background-size: cover;
  background-position: center;

  &_logo {
    position: absolute;
    top: 2rem;
    left: 3rem;

    &_img {
      height: 10rem;
    }
  }
}

.header_text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
